<% if user_signed_in? %>
  <% if @allowed_to_follow == true && @test.blank? == true %>
    <%= render :partial => '/follow_channels/follow' %>
  <% elsif @allowed_to_follow == true && @test.blank? == false %>
    <%= render :partial => '/follow_channels/unfollow' %>
  <%else%>
    <h3>You created this channel</h3>
  <% end %>
<% end %>

<%= render @channel %>

<br /><br />
<% if @add_followers_to_view %>
  <h2>List of channel followers</h2>
<% @array_of_channel_followers.each do |row| %>
  <h3><%= link_to row.username, user_path(row.id) %></h3>
<% end %>
<% end %>

