<div class="comments">
  <div class="comment-content"><%= comment.content %></div>
  <div class="comment-post">Comment to post with URL: <%= comment.post.img_url %>
  <div class="comment-author">Comment by: <%= comment.user.username %></div>
  <% if user_signed_in? && current_user.id == comment.user.id %>
      <div class="comment-delete"><%= link_to "Delete", comment, :method => 'delete' %></div>
  <%end%>
</div>
