<h1>Access#login</h1>
<p>Find me in app/views/access/login.html.erb</p>

<%= form_for @user, :url => { :action => "attempt_login"} do |f| %>
  <%= f.text_field :username %>
  <%= f.text_field :password %>
  <%= f.submit "Login" %>
<% end %>
