<div class="post">
  <div class="post-imgurl">URL: <%= post.img_url %></div>
  <div class="post-caption">CAPTION: <%= link_to post.caption, post %></div>
  <div class="post-channel">Channel ID: <%= link_to post.channel.name, post.channel %></div>
  <div class="poster">POSTER IS: <%= post.user.username %>

<div>----------END OF POST-----------</div>


</div>
