<div class="post">
  <div class="post-imgurl">URL: <%= post.img_url %></div>
  <div class="post-caption">CAPTION: <%= post.caption %></div>
  <div class="post-channel">Channel ID: <%= post.channel.name %></div>


</div>
