<%= render @post %>

<% if user_signed_in? %>
  <%= render 'comments/form' %>
<% else %>
  <%= link_to "Sign in", new_user_session_path %> to comment!
<% end %>

<div class="comments">
  <%= render @post.comments %>
</div>