<%= render @post %>

<% if current_user %>
  <%= render 'comments/form' %>
<% else %>
  <%= link_to "Login", login_path %> to comment!
<% end %>

<div class="comments">
  <%= render @post.comments %>
</div>