#new_user {
  position:relative;
  top:-3px;
}

#new_user div {
display:inline-block;
}

#new_user input[type=text] {
    border-bottom: 1px solid white;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    padding: 3px;
    background: black;
    font-family: 'nobel-boldbold';
    color:white;
    font-size: 13px;
    width:90px;
}

#new_user input[type=password] {
    border-bottom: 1px solid white;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    padding: 3px;
    background: black;
    font-family: 'nobel-boldbold';
    color:white;
    font-size: 13px;
    width:90px;
}

#new_user ::-webkit-input-placeholder {
  color: white;
}

#new_user :-moz-placeholder {
  color: white;
}

#new_user ::-moz-placeholder {
 color: white;
}

#new_user :-ms-input-placeholder {
  color: white;
}

#new_user input[type=submit] {
  font-family: 'nobel-boldbold';
  padding:5px 10px;
  background-color:black;
  border: 1px solid white;
  color:white;
  text-decoration:none;
}

#new_user input[type=submit]:hover {
  background:white;
  color:black;
}


#main-login {
  background:white;
  padding:40px;
  position: absolute;
  left:50%;
  top:50%;
  margin-left: -168px;
  margin-top: -183px;
  text-align:center;
}

#main-login div{
  display:block;
  font-family:'nobel-boldbold';
  margin-bottom:10px;
  
}


#main-login input[type=text], input[type=email] {
    border: 3px solid black;
    padding: 15px;
    background: white;
    font-family: 'nobel-boldbold';
    color:black;
    font-size: 15px;
    width:200px;
    height:30px;
    display:block;
}

#main-login input[type=password] {
    border: 3px solid black;
    padding: 15px;
    background: white;
    font-family: 'nobel-boldbold';
    color:black;
    font-size: 15px;
    width:200px;
    height:30px;
    display:block;
}

#main-login ::-webkit-input-placeholder {
  color: black;
}

#main-login :-moz-placeholder {
  color: black;
}

#main-login ::-moz-placeholder {
 color: black;
}

#main-login :-ms-input-placeholder {
  color: black;
}

#main-login input[type=submit] {
  font-family: 'nobel-boldbold';
  width:150px;
  height: 50px;
  background-color:white;
  border: 3px solid black;
  color:black;
  text-decoration:none;
  font-size:12px;
}

#main-login input[type=submit]:hover {
  background:black;
  color:white;
}

#main-login-logo {
  font-family: 'nobel-boldbold';
  font-size: 30px;
  text-transform:uppercase;
  letter-spacing:2px;
  text-align:center;
  margin-top:9%;
}






