// Place all the styles related to the Channels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#channel-name {
  font-family:'nobel-boldbold';
  font-size: 40px;
  color:black;

  width: 88.5%;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top:50px;
  padding-bottom:35px;

  border-bottom:solid black 2px;
}

#new_follow_channel {
  display:inline;
  margin:0;
  padding:0;
  width: 50px;
}

#follower-submit-button {
  font-family: 'nobel-boldbold';
  font-size: 45px;
  display:inline;
  background-color:transparent;
  border: none;
  color:black;
  text-decoration:none;
  position: relative;
  top:5px;
  z-index: 1;
}

#follower-submit-button:hover {
  background-color: #fcee21;
}

#expand-symbol {
  margin-left: 7px;
}

#you-created-message {
  font-size: 10pt;
  position:relative;
  top: -20px;
}

#channel-info-hide {
  font-family: 'nobel-boldbold';
  width: 87%;
  padding: 10px 10px 25px 10px;
  border-bottom: solid black 2px;
  margin: 0px auto;
  height:auto;
  overflow:hidden;
  text-align:center;
  display:none;
  p {
      font-size: 18px;
      font-family: 'nobel-boldbold';
}
}

#channel-info-column-1 {
  width:48%;
  float:left;
}

#channel-info-column-2 {
  width: 48%;
  float:right;
}

.channel-info-headline {
  display:block;
  margin-top:15px;
  margin-bottom: 5px;
  text-transform:uppercase;
  font-size: 14px;
  letter-spacing: 1px;
}

#all-channel-posts {
  width:87%;
  margin:50px auto;
  overflow: hidden;
}

#create-new-post-form {
}



