// Place all the styles related to the Channels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#channel-name {
  font-family:'nobel-boldbold';
  font-size: 40px;
  color:black;

  width: 88.5%;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top:100px;
  padding-bottom:35px;

  border-bottom:solid black 2px;
}

#new_follow_channel {
  display:inline;
  margin:0;
  padding:0;
  width: 50px;
}

#follower-submit-button {
  font-family: 'nobel-boldbold';
  font-size: 45px;
  display:inline;
  background-color:transparent;
  border: none;
  color:black;
  text-decoration:none;
  position: relative;
  top:5px;
  z-index: 1;

  width: 40px;
  height: 40px;
  border-radius: 20px;
  text-align: center;
  line-height: 29px;

  transition: all 0.5s ease-out; /* Include vendor prefixes before this */
}

#follower-submit-button:hover {
  background-color: #fcee21;
}

#expand-symbol {
  margin-left: 10px;
  cursor: pointer;
  text-align:center;
  display:inline-block;
  line-height: 33px;
  border-radius: 20px;

  width: 40px;
  height: 40px;
  transition: all 0.5s ease-out; /* Include vendor prefixes before this */
}

#expand-symbol:hover {
  background: #fcee21;
}

#you-created-message {
  font-size: 10pt;
  position:relative;
  top: -20px;
}

#channel-info-hide {
  font-family: 'nobel-boldbold';
  width: 87%;
  padding: 10px 10px 25px 10px;
  border-bottom: solid black 2px;
  margin: 0px auto;
  height:auto;
  overflow:hidden;
  text-align:center;
  display:none;
  p {
      font-size: 16px;
      font-family: 'nobel-boldbold';
      text-transform: lowercase;
}
}

#channel-info-column-1 {
  width:48%;
  float:left;
}

.individual-follower {
  font-size: 16px;
  padding: 4px 5px;
  margin: 0px 5px;
  text-align:center;
}

.individual-follower:hover {
  background:#fcee21;
}

.yellow-hover a:link { text-decoration:none; color: black;  }
.yellow-hover a:hover { text-decoration:none; color: black; background:#fcee21;  }
.yellow-hover a:visited { text-decoration:none; color: black;  }


#channel-info-column-2 {
  width: 48%;
  float:right;
}

.channel-info-headline {
  display:block;
  margin-top:15px;
  margin-bottom: 8px;
  text-transform:uppercase;
  font-size: 15px;
  letter-spacing: 1px;
}

#all-channel-posts {
  width:87%;
  margin:50px auto;
  overflow: hidden;
}

#create-new-post-form {
  position: fixed;
  bottom:0px;
  left:0px;
  right:0px;

  height:50px;
  background-color:black;
  color:black;
}

#collaborator-form input[type=text] {
  border: 2px solid black;
  padding: 3px;
  background: white;
  font-family: 'nobel-boldbold';
  color:black;
  font-size: 13px;
}

#collaborator-form input[type=submit] {
  font-family: 'nobel-boldbold';
  padding:5px 10px;
  background-color:black;
  border: 2px solid black;
  color:white;
  text-decoration:none;
}

#collaborator-form input[type=submit]:hover {
   background:white;
   color:black;
}

#delete-channel {
  margin-top:7px;
}

#delete-channel input[type=submit]{
  font-family: 'nobel-boldbold';
  padding:5px 10px;
  background-color:white;
  border: 2px solid black;
  color:black;
  text-decoration:none;
}

#delete-channel input[type=submit]:hover {
  background: #fcee21;
}
