// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.ui-autocomplete {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #999;
  cursor: default;

  li {
    background-color: #FFF;
    border-top: solid 1px #DDD;
    margin: 0;
    padding: 0;
    a {
      color: #000;
      display: block;
      padding: 3px;
      }
      a.ui-state-hover, a.ui-state-active {
      background-color: #FFFCB2;
      }
        }
}

#user-search-form {
  display:inline-block;
}

#user-search-form input[type=text] {
   border-bottom: 1px solid white;
   border-top: 2px solid black;
   border-left: 2px solid black;
   border-right: 2px solid black;
   padding: 3px;
   background: black;
   font-family: 'nobel-boldbold';
   color:white;
   font-size: 13px;
   width:90px;
}

#user-search-form input[type=submit] {
  visibility:hidden;
}

#user-search-form ::-webkit-input-placeholder {
  color: white;
}

#user-search-form :-moz-placeholder {
  color: white;
}

#user-search-form ::-moz-placeholder {
  color: white;
}

#user-search-form :-ms-input-placeholder {
  color: white;
}

#whose-page {
  width:87%;
  margin: 50px auto 0px auto;

  font-family: 'nobel-boldbold';
  color:black;
  text-align: center;
  font-size: 50px;
}

.set-of-six {
  width:87%;
  margin: 0px auto;
  text-align: center;
  border-bottom: 2px solid black;
}

.individual-image {
  float:left;
  width: 32%;
  height: 195px;
  text-align:center;
  margin: 2% 0.5%;
}

.individual-image img {
  height: 100%;
  max-width: 100%;
}

.individual-text {
  float:left;
  width: 32%;
  height: 195px;
  text-align:center;
  margin: 2% 0.5%;

  display: table;
}

.text-vert-center {
  display: table-cell;
  vertical-align: middle;

  font-family:'nobel-boldbold';
  color:black;
  font-size: 30px;
}


.text-vert-center a:link {text-decoration:none; color:black; border-bottom: 2px solid black;}
.text-vert-center a:visited {text-decoration:none; color:black;}
.text-vert-center a:hover { text-decoration:none; color:black;}
.text-vert-center a:active {text-decoration:none; color:black;}










